<h3>{{defender.name}}</h3>
<img src={{defender.image}} style="padding-right:10px"/>
<div style="float:right;" ng-model="myModel">
  <h2>Level Up:</h2>
  <div>
    <form ng-submit="levelUpAttacker(attLvl)">
      {{attacker.name}}:
      <input type="text" ng-model="attLvl" name="att"/>
      <input type="submit" value="level" />
    </form>
    <form ng-submit="levelUpDefender(defLvl)">
      {{defender.name}}:
      <input type="text" ng-model="defLvl" name="def" />
      <input type="submit" value="level" />
    </form>
  </div>
  <h3>Battle results</h3>
  <a ui-sref=".stats" ng-click="calculateDamage()">Stats:</a>
  <div ui-view></div>
</div>
