<div ng-controller="MainController">
    <div class="jumbotron">
        <h1>Character Roster</h1>
        <p class="lead"></p>
    </div>
    <!-- <div ng-repeat="char in characters">
        <h2>{{ char.name }}</h2>
        <img src="{{ char.image }}"/>
        <p>
            {{char.bhp}}
        </p>
        <p>
            {{char.bstr}}
        </p>
        <p>
            {{char.bskl}}
        </p>
        <p>
            {{char.bspd}}
        </p>
        <p>
            {{char.bdef}}
        </p>
        <p>
            {{char.bres}}
        </p>
    </div> -->
</div>
