<div ng-controller="MainController">
    <div class="jumbotron">
        <h1>Character Roster</h1>
        <p class="lead"></p>
    </div>

    <div ng-repeat="char in phones">
        <h2>{{ char.name }}</h2>
        <p>
            ffsdf
        </p>
        <p>
            sfwwefwe
        </p>
        <p>
            afwfwenjwe
        </p>
        <p>
            fwe
        </p>
        <p>
            fwfwf
        </p>
        <p>
            fwfwefw
        </p>
        <!-- <div class="col-md-4">
            <h2>Get more libraries</h2>

        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>

        </div> -->
    </div>
</div>
