<div ng-controller="MainController">
    <div class="jumbotron">
        <h1>Character Roster</h1>
        <p class="lead"></p>
    </div>
    <div ng-repeat="char in characters">
        <h2>{{ char.name }}</h2>
        <img src="{{ char.image }}" style={"float":"left"}/>
        <p>
            HP: {{char.bhp}}
        </p>
        <p>
            STRENGTH: {{char.bstr}}
        </p>
        <p>
            SKILL: {{char.bskl}}
        </p>
        <p>
            SPEED: {{char.bspd}}
        </p>
        <p>
            DEFENSE: {{char.bdef}}
        </p>
        <p>
            RESISTENCE: {{char.bres}}
        </p>
    </div>
</div>
